<section id="{{include.id}}" class="markdown pad-t-2 pad-b-2 {{include.bgColor}}" tabindex="0">
  <div class="gutter {{include.contentWidth}}{% if include.paddingExtra == true %} pad-t-2 pad-b-2{% endif %}{% if include.contentAlignment %} text-{{include.contentAlignment}}{% endif %}">
    {{include.content | markdownify }}
  </div>
</section>
